@import 'assets/styles/config/colors';

.signup {
  .header {
    min-height: 140px;
    width: 100%;
    background-color: $gray-header;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-page {
    .title {
      height: 200px;
    }

    .footer {
      height: 100px;
      span {
        margin: 5px;
      }
    }
  }

  .step-bar {
    .divider {
      width: 1px;
      background-color: $stepbar-gray;
      height: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .step {
      span {
        margin-right: 20px;
      }
    }

    .step.active {
      span {
        color: $stepbar-green;
      }
    }
  }

  .go-back {
    text-decoration: underline;
    cursor: pointer;
  }

  .step-2 {
    .profile-picture {
      &-img {
        width: 100px;
        height: 100px;
      }

      &-container {
        height: 300px;
        border: 1px solid $gray-header;
      }

      &-input {
        input[type="file"] {
          display: none;
        }
      }
    }
  }
}
