$gray-header: #F7F7F7;
$stepbar-gray: #A9A8A8;
$stepbar-green: #43A6AD;
$input-border: #979797;
$btn-block: #43A6AD;
$step-bar: #CACACA;
$btn-primary: #FD7C70;
$btn-save: #D3EAED;
$btn-save-color: #0C1517;
$link-back: #818286;
